@-webkit-keyframes moveinleft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px) rotate(180deg);
              transform: translateX(-100px) rotate(180deg);
    }
    80% {
      -webkit-transform: translate(10px);
              transform: translate(10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  @keyframes moveinleft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px) rotate(180deg);
              transform: translateX(-100px) rotate(180deg);
    }
    80% {
      -webkit-transform: translate(10px);
              transform: translate(10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  @-webkit-keyframes moveinright {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    80% {
      -webkit-transform: translate(-10px);
              transform: translate(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  @keyframes moveinright {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    80% {
      -webkit-transform: translate(-10px);
              transform: translate(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  @-webkit-keyframes moveinbottom {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  @keyframes moveinbottom {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }