.row {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .row:not(:last-child) {
    margin-bottom: 80px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row [class^="col-"] {
    float: left;
  }
  
  .row [class^="col-"]:not(:last-child) {
    margin-right: 60px;
  }
  
  .row .col-1-of-2 {
    width: calc( (100% - 60px)/2);
  }
  
  .row .col-1-of-3 {
    width: calc( (100% - 2 * 60px) /3);
  }
  
  .row .col-2-of-3 {
    width: calc(2 *((100% - 2 * 60px) /3) + 60px);
  }
  
  .row .col-1-of-4 {
    width: calc( (100% - 3 * 60px) /4);
  }
  
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 60px) /4) + 60px);
  }
  
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 60px) /4) + 2 * 60px);}
  